* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(-45deg, #360033, #0b8793);
    color: white
}
.word-display {
    margin-top: 3rem;
    font-size: 80px;
    color: #360033;
}
.word-input {
    padding: 0.5rem;
    width: 300px;
}
.game-info {
    margin: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between; /* 가운데를 기준으로 두 컨텐츠를 벌려주기 */
    width: 220px;
}

.game-info span {
    font-size: 30px;
}

.button {
    width: 200px;
    height: 35px;
    background: linear-gradient(-45deg, #360033, #0b8793);
    color: #fff;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
}
.loading {
    background: #ccc;
    cursor: not-allowed;
}