* {
    margin: 0;
    padding: 0;
}
:root {
    --matgreen : #038d31 ;
}
ul{
    list-style: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.play-time {
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--matgreen);
}
ul {
    list-style: none;
    margin-top: 1rem;
    border: 2px solid var(--matgreen);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1fr이 네번 반복*/
    /* grid-gap: 0px; 퍼즐 모양 만들기 사이 간격을 10px씩*/
}
li {
    width: 100px;
    height: 100px;
    background: #ccc;
    color: #fff;
    background: url("https://placeimg.com/400/400/1");
}
.start-button {
    background: var(--matgreen);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem
}
.list0 {
    background-position-x: 0px;
    background-position-y: 0px;
}
.list1 {
    background-position-x: -100px;
    background-position-y: 0px;    
}
.list2 {
    background-position-x: -200px;
    background-position-y: 0px;
}
.list3 {
    background-position-x: -300px;
    background-position-y: 0px;    
}
.list4 {
    background-position-x: 0px;
    background-position-y: -100px;    
}
.list5 {
    background-position-x: -100px;
    background-position-y: -100px;
}
.list6 {
    background-position-x: -200px;
    background-position-y: -100px;    
}
.list7 {
    background-position-x: -300px;
    background-position-y: -100px;
}
.list8 {
    background-position-x: 0px;
    background-position-y: -200px;
}
.list9 {
    background-position-x: -100px;
    background-position-y: -200px;    
}
.list10 {
    background-position-x: -200px;
    background-position-y: -200px;
}
.list11 {
    background-position-x: -300px;
    background-position-y: -200px;    
}
.list12 {
    background-position-x: 0px;
    background-position-y: -300px;
}
.list13 {
    background-position-x: -100px;
    background-position-y: -300px;    
}
.list14 {
    background-position-x: -200px;
    background-position-y: -300px;
}
.list15 {
    background-position-x: -300px;
    background-position-y: -300px;    
}